<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
        <title>Amino Home Page</title>
        <link href="style.css" rel="stylesheet" type="text/css">
        <script type="text/javascript" src="chan.js"></script>
    </head>
    <body onload="init()">
        <script type="text/javascript">
            function init() {
                {% for num, list in stream_list %}
                    add({{ num }}, "igmp://{{ list }}", "ch-{{ num }}");
                {% endfor %}
                addChannelList(1,{{ stream_list|length }});
                start({{ stream_start }});
            }
        </script>
        <div id="channel_popup"></div>
        <div id="channel_info"></div>
        <div id="channel_menu"></div>
    </body>
</html>