body {
    width: auto;
    height: auto;
}

a {
    color: blue;
    text-decoration: none;
    border: 1px solid transparent;
    padding: 1px 4px;
    border-radius: 5px;
}

li {
    list-style-type: none;
}

table {
    width: auto;
    min-width: 700px;
    border: none;
    margin-bottom: 15px;
}

th {
    height: 40px;
    background: #adacac
}

.tr_1 td{
    background: #f8f8f8;
    height: 30px;
}

.tr_2 td{
    background: #ebe9e9;
    height: 30px;
}

button {
    border: 1px solid transparent;
    cursor: pointer;
}

.header {
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: #417690;
    color: #ffc;
    border-radius: 5px;
}

.hd_brand {
    padding-left: 15px;
}

.hd_user {
    float: right;
    padding-right: 15px;
    margin-right: 0;
}

.hd_brand, h1 {
    font-size: 16pt;
    font-weight: bold;
    text-align: left;
}

.hd_user, h3 {
    font-size: 12pt;
    font-weight: normal;
    text-align: right;
}

.main {
    margin-top: 5px;
    display: flex;
    flex-direction: row;
    border: solid 1px;
    border-radius: 5px;
    color: #333;
    background: #f8f8f8;
}

.sidebar {
    overflow-y: scroll;
    line-height: 1.5;
    padding-right: 15px;
    border: none;
}

.sidebar .side-li a:link {
    border: none;
    text-decoration: none;
}

.sidebar .side-li a:hover {
    color: #f8f8f8;
    background-color: blue;
    border-radius: 5px;
}

.sidebar .side-li a.norm:hover {
    background-color: #f8f8f8;
    color: blue;
    padding: 1px 4px;
}

.mainbar {
    width: auto;
    border: none;
    border-left: #a1a0a0 solid 1px;
    padding-left: 20px;
    padding-top: 15px;
}

.mainbar a:hover {
    text-decoration: underline;
}

.log-text, .log-p {
    width: 700px;
    height: 500px;
    overflow-y: scroll;
}

.login {
    width: 270px;
    height: auto;
    background: #f8f8f8;
    margin: auto;
}

.login-header {
    height: 30px;
    color: #ffc;
    background: #417690;
    border-radius: 5px;
}

.login-header h4 {
    line-height: 30px;
    text-align: center;
    vertical-align: middle;
}

.login-main {
    color: #333;
    margin-top: 5px;
    margin-bottom: auto;
    padding: 15px 15px;
    border: 1px solid;
    border-radius: 5px;
}

