{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'iptv/css/iptv.css' %}">
    <title>Вход в систему</title>
</head>
<body>
    <form method="post">
        {% csrf_token %}
        <div class="login">
            <div class="login-header">
                <h4>Выполните вход в систему</h4>
            </div>
            <div class="login-main">
                {% if error %}
                    {{ error }}
                    <br>
                {% endif %}
                <label for="username">Логин</label>
                <input size="21" id="username" name="username">
                <br>
                <br>
                <label for="password">Пароль</label>
                <input size="20" type="password" id="password" name="password">
                <br>
                <br>
                <button type="submit">Войти</button>
            </div>
        </div>
    </form>
</body>
</html>