{% extends 'iptv/tools.html' %}
{% load static %}

{% block mainbar %}
    <form method="post">
        {% csrf_token %}
        <table>
            <thead>
                <th>UDP адрес</th>
                <th>UDP порт</th>
                <th>Примечание</th>
                <th width="30px"></th>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <input size="15"  type="text" maxlength="15" placeholder="UDP адрес" name="udp_ip">
                    </td>
                    <td>
                        <input size="5"  type="text" maxlength="5" placeholder="UDP порт" name="udp_port">
                    </td>
                    <td>
                        <input size="40"  type="text" maxlength="40" placeholder="Примечание" name="name">
                    </td>
                    <td>
                        <button type="submit" >
                            <img src="{% static 'iptv/images/icon-yes.svg' %}" title="Добавить поток">
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </form>
{% endblock %}